<div class="modal fade" id="BigModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h3 id="titleBigModal" class="modal-title">Title</h3>
                </div>
                <div class="col-md-pull-4 pull-right">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">X</button>
                </div>
            </div>
            <div class="modal-body" id="BigModalDiv">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>