@model CRUDOperationsD8.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <form id="frmCategories">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row col-sm-12" style="margin-bottom: 10px;">
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" id="Name" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-sm-12" style="margin-bottom: 10px;">
            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Description" class="form-control" id="Description" type="text" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-sm-12">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="button" id="btnSave" value="Save" onclick="Save()" class="btn btn-info">
                <button type="button" id="btnClose" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</div>
